{% extends 'base.html' %}

{% block content %}
    
    <body>
        <br><br>
       
        <div class="container-fluid">

            <div class="row align-items-center justify-content-center">
                <div class="col">
                    <a href="?function=SetBrightness10">
                        <img src="icons/nits250.png" alt="SetBrightness10" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <a href="?function=SetBrightness25">
                        <img src="icons/nits500.png" alt="SetBrightness25" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <a href="?function=SetBrightness49">
                        <img src="icons/nits700.png" alt="SetBrightness49" class="img-fluid">
                    </a>
                </div>
            </div>


        </div><br><br>
        
        <div class="container-fluid">

            <div class="row align-items-center justify-content-center">
                <div class="col">
                    <a href="?function=BluRay_Play">
                        <img src="icons/play.png" alt="Play" class="img-fluid">
                    </a>
                </div>
                <div class="col">
                    <a href="?function=BluRay_Pause">
                        <img src="icons/pause.png" alt="Pause" class="img-fluid">
                    </a>
                </div>
                    <div class="col">
                </div>

            </div>

        </div>

    </body>
{% endblock %}